.wrapper {
    /* width: 100%; */
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 132px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header header'
                          'sidebar main'
                          'sidebar footer';
    background: var(--primaryColor);
}

.header {
    grid-area: header;
    z-index: 1;
}

.sidebar {
    background: var(--secondaryOrContrastShade1);
    color: var(--contrastOrPrimary);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    background: var(--secondaryOrContrastShade1);
    color: var(--contrastOrPrimary);
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 50px rgba(125, 5, 5, 0.13);
}

.main {
    grid-area: main;
    padding: 40px 110px;
    background: var(--secondaryShade1OrConstrast);
    color: var(--contrastOrPrimary);
}

.title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 40px;
    line-height: 33px;
}

/* gleb-and-gleb adaptiv */

@media (max-width: 1100px) {
    .sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        margin-bottom: 347px;
    }
}

@media (max-width: 950px) {
    .footer {
      display: none;
    }
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'header'
                            'main';
    }
    .sidebar {
        display: none;
    }
    .main {
        padding: 40px 34px;
    }
}
@media (max-width: 400px) {
    .main {
        padding: 40px 24px;
        align-items: center;
    }
}

@media (max-width: 950px) {
    .title{
        visibility: hidden;
    }
}