.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.375rem;

  color: var(--primaryFontColor);
}

.container {
  --padding: 40px;
  font-size: 16px;
  margin: 0 auto;
  width: 1584px;
  max-width: calc(100vw - var(--padding) * 2);
}

.buttonContainer {
  display: flex;
  gap: 24px;
  align-items: center;
}