.graphicContainer {
  display: flex;
  margin-top: 25px;
  background: var(--secondaryShade1OrPrimaryShade2);
  flex-direction: row;
  align-items: center;
}

.graphic {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.graphic canvas {
  flex: 1;
}

.wrapper {
  background: var(--primaryOrContrast);
}

.card {
  background: var(--secondaryShade1OrPrimaryShade2);
}


@media (max-width: 400px){

  .graphicContainer {
    flex-direction: column-reverse;
  }

  .title {
    display:flex;
  }

  .graphic{
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  .graphicContainer{
    gap: 29px;
    width: 450px;
  }

}