.popup {
  margin: 0 auto;
  width: fit-content;
  background: var(--mainFontColor);
  border-radius: 20px;
  padding: 48px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}

.content {
  display: grid;
  grid-template-areas: 'form illustration';
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.title {
  font-family: 'Comfortaa';
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #000;
}

.title_dark {
  color: #fff;
}

.crossIcon {
  cursor: pointer;
}

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  width: 100%;
  margin-top: 7px;
}

.input_dark, .input_dark:focus {
  color: #E0E0E0;
  border-color: #A6BCD2;
}

select.input_dark option {
  background: #000;
  color: #fff;
}

.textarea {
  width: 100%;
  border: 2px solid #FFE0B2; 
}

.textarea_dark, .textarea_dark:focus {
  border-color: #A6BCD2;
  color: #E0E0E0;
}

.label {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.125rem;
  color: #000;
}

.label_dark {
  color: #fff;
}

.createButton {
  margin-top: 150px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.createButton_dark {
  background: #27496C !important;
  color: #fff;
}

.addMiddlewareButton_dark {
  background: #6E8FB0 !important;
  color: #fff;
}

.create {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3rem;
}

.illustration {
  grid-area: illustration;
  width: 90%;
}

@media (max-width: 600px) {
  .content {
    grid-template-areas: 'illustration'
                          'form';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .illustration {
    justify-self: center;
  }
}